nav {
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.6vw;
}

nav a {
  text-decoration: none;
  color: aliceblue;
  padding-left: 3.5vw;
  padding-right: 3.5vw;
  padding-bottom: 0.4vw;
  padding-top: 0.4vw;
  font-size: 1vw;
  border-right: 1px solid black;
}

nav a:last-child {
  border-right: 0px;
}

nav a:hover {
  background-color: antiquewhite;
  color: black;
}

#conteudo {
  display: flex;
  height: 89.6vh;
}

#texto {
  background-color: antiquewhite;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#fotoetexto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: 2px solid brown;
}

#fotominha {
  height: 18vw;
  width: 18vw;
  border-radius: 100%;
}

#apresentação {
  padding-top: 5vw;
}

#paulofreire {
  font-style: italic;
}

#fotorafael {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: antiquewhite;
}

footer {
  width: 100%;
  height: 2.6vw;
  background-color: brown;
}

h1 {
  padding-bottom: 3vh;
  font-size: 3vw;
  font-family: sans-serif;
  color: brown;
  text-align: center;
}

h2 {
  padding-bottom: 5vh;
  font-size: 2.5vw;
  font-family: sans-serif;
  color: brown;
  text-align: center;
}

p {
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 1.1vw;
  font-family: sans-serif;
  color: brown;
}

* {
  margin: 0px;
  padding: 0%;
}
